body{
	background : url("../images/bg.jpg"); 
	font-family: Lato;
}
.row {
	margin-top: 70px;
	background-color: #FFF;
	margin-right: 0px;
	border-radius: 4px;
	box-shadow: 2px 2px 6px grey;
	padding: 20px 20px 20px 20px;
}
#price{
	color: #F57F17;
}
.produk {
	width: 100%;
}
.desc {
	padding-top: 20px;
}
.size {
	color: grey;
}
.btn{
	margin-top: 20px;
	border-radius: 4px;
	background-color: #FFC107;
	border: 0;
	color: white;
}
.btn:hover:enabled {
	background-color: #FF6F00;
}