body {
	font-family: Lato;
	background: url("../images/bg.jpg"); 
	padding-top: 40px;
}
.profile-box {
	background-color: #FFF;
	border-radius: 4px;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.22);
	padding: 0px 40px 0px 0px;
	height: 1000px;
}
.sidebar {
	background-color: lightgrey;
	height: 1000px;
	margin-top: 0;
	padding: 2rem 0 0 0;
}
.rounded-circle {
	width: 200px;
}
.data {
	padding-left: 2rem;
	padding-top: 2rem;
}
.sidebar-option {
	height: 50px;
	color: black;
	padding-top: .7rem;
	padding-left: 1rem;
}
.selected {
	background-color: grey;
	color: white;
}
.sidebar-option:hover {
	background-color: grey;
	color: white;
	text-decoration: none;
}
input {
	border: none;
	border-bottom: 1px solid black;
}
#photo {
	border: none;
}