body {
	font-family: Lato;
	padding-top: 60px;
}

.categories a {
	color: #212121;
}
.categories .card:hover {
	box-shadow: 0 0 10px grey;
}
.categories a:hover {
	font-weight: bolder;
	font-style: none;
	text-decoration: none;
}

.banner-images {
	
	width: 100%;
	

}
.Ok{
	margin-left: 100px;
}
.banner{
	width:10px;
}

.carousel-item img {
	width: 100%;
	height: 100%;
}
.nav a {
	color: #BDBDBD !important;
}
.site-content .nav {
	border-bottom: 1px solid #FF6F00;
}
.nav .active {
	border-bottom: 2px solid #FF6F00;
	color: #212121 !important;
}
.site-content {
	margin-top: 20px;
	margin-bottom: 20px;
}
.site-content a {
	color: #212121;
}
.btn-design {
	border-radius: 4px !in;
	box-shadow: none;
	border: 1px solid #FFC107;
	background-color: white;
	color: #212121;
}
.btn-design:hover {
	border: 1px solid #FF6F00;
	background-color: #FF6F00;
	color: white;
}
#content1 {
	padding-left: 2px;
	padding-right: 2px;
}
#content2 {
	padding-left: 2px;
	padding-right: 2px;
}
#content3 {
	padding-left: 2px;
	padding-right: 2px;
}
.content-item {
	margin-top: 15px;
	padding: 0 6px 0 6px;
}
.card h4 {
	font-size: 20px;
}
.card h6 {
	font-size: 13px;
	color: #757575;
}
.product-picture {
	width: 228px;
}
.old-price {
	font-size: 12px;
	color: #BF360C;
	text-decoration: line-through;
}
.new-price {
	font-weight: bold;
}
.card .btn {
	margin-top: 15px;
	background-color: white;
	border: 1px solid #FF6F00;
	color: #212121;
	box-shadow: none;
	font-weight: normal;
}
.card .btn:hover {
	background-color: #FF6F00;
	color: white;
}
#main-footer {
	font-size: 12px;
	color: grey;
}